body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

text {
  text-rendering: optimizeLegibility;
}

.cities {
  display: flex;
  flex-wrap: wrap;
}

.city {
  flex: 0 1 auto;
  align-self: stretch;
  margin: 15px;
}

.city-map {
  min-width: 300px;
  min-height: 200px;
}

.city-sparkline h4 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #363636;
}

.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.66px;
}

.sparkline-legend {
  font-size: 10px;
  font-family: sans-serif;
}

.sparkline-legend-limit {
  fill: #b31919;
}

.limitline {
  fill: none;
  stroke: #b31919;
  stroke-width: 1px;
}

.zeroline {
  fill: none;
  stroke: #7d7d7d;
  stroke-width: 1px;
}

.x.axis .domain {
  stroke-width: 0px;
  stroke: none;
  fill: none;
}

.x.axis .tick line {
  stroke-width: 1px;
  stroke: #000;
}

.x.axis .tick text {
  font-size: 10px;
  font-family: sans-serif;
}

.mouseline {
  opacity: 0;
  stroke: #333;
  stroke-width: 1px;
  fill: none;
}

.footer {
  text-align: right;
  font-size: 10px;
  margin: 0 10px;
}
