.stickoxities  {
  font-family: sans-serif;
}

.stickoxities text {
  text-rendering: optimizeLegibility;
}

.stickoxities .cities {
  display: flex;
  flex-wrap: wrap;
}

.stickoxities .city {
  flex: 1 1 auto;
  align-self: stretch;
  margin: 15px;
}

.stickoxities .city-map {
  min-width: 300px;
  min-height: 200px;
}

.stickoxities .city-sparkline h4 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #363636;
}

.stickoxities .sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.66px;
}

.stickoxities .sparkline-legend {
  font-size: 10px;
  font-family: sans-serif;
}

.stickoxities .sparkline-legend-limit {
  fill: #b31919;
}

.stickoxities .limitline {
  fill: none;
  stroke: #b31919;
  stroke-width: 1px;
}

.stickoxities .zeroline {
  fill: none;
  stroke: #7d7d7d;
  stroke-width: 1px;
}

.stickoxities .x.axis .domain {
  stroke-width: 0px;
  stroke: none;
  fill: none;
}

.stickoxities .x.axis .tick line {
  stroke-width: 1px;
  stroke: #000;
}

.stickoxities .x.axis .tick text {
  font-size: 10px;
  font-family: sans-serif;
}

.stickoxities .mouseline {
  opacity: 0;
  stroke: #333;
  stroke-width: 1px;
  fill: none;
}

.stickoxities .footer {
  text-align: right;
  font-size: 10px;
  margin: 0 10px;
}
